.imageLinkItem {
  width: calc(100vw / 4);
  max-width: 320px;
  min-width: 250px;
  transition: 300ms;
}

.imageLinkItem:hover {
  padding: 0 6px 0 0 ;
  /* margin: 2em 0; */
  /* color: #FFF; */
  background: #fee4b6;
  border-bottom: solid 6px #cfb165;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 300ms;
}

.image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.textWrap {
  border-radius: 0 0 5px 5px;
  background-color:antiquewhite;
  padding: 10px;
}

.textWrap h3 {
  text-align: left;
  font-weight: bold;
  font-size:larger;
  padding-bottom: 10px;
}

.textWrap p {
  text-align: left;
}
